<h1 id="ml-policy-machine-learning-software-freedom">ML-Policy: Machine Learning &amp; Software Freedom</h1>
<dl>
<dt>Author</dt>
<dd><p>Copyright (C) 2019-2020 Mo Zhou <code>&lt;lumin@debian.org&gt;</code>, CC-BY-SA-4.0</p>
</dd>
<dt>Date</dt>
<dd><p>Apr. 2020</p>
</dd>
</dl>
<h2 id="preface">Preface</h2>
<p><strong>Version:</strong> 0.2.5 (experimental)</p>
<p>Existing practice of machine learning and deep learning challenged our understanding and interpretation of software freedom. This document aims to address the following issues: (1) taxonomy of machine learning related files; (2) definition of reproducibility for related files; (3) policy terms that should be considered by the Debian project and any other rigorous free software distributors.</p>
<p>Software freedom is the core concern of this document: According to FSF[1], Roughly, it means that the freedom for the users to run, copy, distribute, study, change and improve the software.</p>
<p><strong>Disclaimer:</strong> This draft is UNOFFICIAL and does not represent the point of view of the Debian Project.</p>
<h3 id="abbreviations">Abbreviations</h3>
<ul>
<li>FOSS: Free and Open Source Software</li>
</ul>
<h2 id="taxonomy-for-machine-learning-related-files">Taxonomy for Machine Learning Related Files</h2>
<p>Generally, there are three types of files related to machine learning software: <em>Human-Readable Source</em>, <em>Serialized Model</em>, and automatically *Generated Artifacts*.</p>
<ul>
<li><strong>Human-Readable Source</strong> involves: source code (e.g. written in C++, Python) for model creation, modification (training, fine-tuning), inference, and analysis; data (materials such as digits, texts, audios, images, videos) used for training, validating, and testing the machine learning model (applicable for supervised/unsupervised learning); environment simulators (e.g. Atari game simulator) used for training the agent model (applicable for reinforcement learning).</li>
<li><strong>Serialized Model</strong> refers to a machine learning model serialized in any format (e.g. binary protobuf, json, python pickle, etc).</li>
<li><strong>Generated Artifacts</strong> refers to objects produced from machine learning models, with or without external inputs as hints. For instance, an auto-generated article/image/song/video is deemed as an automatically generated artifact from the model.</li>
</ul>
<h3 id="human-readable-source">Human-Readable Source</h3>
<p>Following the principles of software freedom and existing practice, the <strong>Human-Readable Sources</strong> are easy to be classified.</p>
<ol type="1">
<li><strong>Free Human-Readable Source</strong>: Materials published under a FOSS license and are DFSG-compatible.</li>
<li><strong>Non-Free Human-Readable Source</strong>: Materials not released under a FOSS license or incompatible with DFSG.</li>
</ol>
<h3 id="serialized-model">Serialized Model</h3>
<p>In terms of software freedom and information security, the pre-trained machine learning models can be divided into the following <em>non-overlapping</em> categories:</p>
<ol type="1">
<li><strong>Free Model</strong> is a model satisfying <em>ALL</em> the following conditions:
<ol type="1">
<li>FOSS-Licensed &amp; DFSG-compliant;</li>
<li>trained from explicitly FOSS-licensed &amp; DFSG-compliant datasets (e.g. for supervised or unsupervised learning) or simulators (e.g. for reinforcement learning), and the dataset is publicly available to anonymous users;</li>
<li>corresponding training program is present and complete;</li>
</ol></li>
<li><strong>ToxicCandy Model</strong> is a model satisfying <em>ALL</em> the following conditions:
<ol type="1">
<li>FOSS-Licensed &amp; DFSG-compliant;</li>
<li>trained from unknown, private, or non-free datasets or simulators;</li>
<li>corresponding training program or script is present and complete;</li>
</ol></li>
<li><strong>NonFree Model</strong> is a model satisfying <em>ANY</em> of the following conditions:
<ol type="1">
<li>non-free licensed or doesn't comply with DFSG;</li>
<li>corresponding training program or script is absent or incomplete;</li>
<li>unusable without non-free software (including but not limited to drivers and libraries);</li>
<li>cannot be categorized as anyone other type;</li>
</ol></li>
</ol>
<h3 id="generated-artifacts">Generated Artifacts</h3>
<p>Artifacts produced by the machine learning models and optional raw data, such as images, videos, audios and fonts generated by the models, should automatically inherit the property of the model itself and the original raw data if applicable.</p>
<ol type="1">
<li><strong>Free Artifact</strong> is an artifact produced by <strong>Free Model</strong>, and it must satisfy all the following conditions:
<ol type="1">
<li>The original raw data, if there is any, used for generating the artifact is FOSS-Licensed &amp; DFSG-compliant;</li>
</ol></li>
<li><strong>NonFree Artifact</strong> is and artifact produced by <strong>ToxicCandy Model</strong> or <strong>NonFree Model</strong>. Artifacts that cannot be categorised into other types should be deemed as <strong>NonFree Artifact</strong>.</li>
</ol>
<h2 id="reproducibility-definition-for-machine-learning-related-files">Reproducibility Definition for Machine Learning Related Files</h2>
<p>We define two types of reproducibility for Serialized Model: Type-F(unction) and Type-H(ash).</p>
<ol type="1">
<li><strong>Type-F Reproducible</strong>: When trying to reproduce the model from scratch with the same experimental settings, the model retains the same pattern for the training curves (including loss curves and validation performance curves), and retains comparable final performance metrics on the validation dataset. A reasonable error in floating point numbers is acceptable. Hashsum mismatch is acceptable.</li>
<li><strong>Type-H Reproducible</strong>: <strong>Type-F Reproducibility</strong> plus identical file hashsums.</li>
</ol>
<p>Reproducibility of Generative Artifacts: TODO</p>
<h2 id="ml-policy">ML-Policy</h2>
<ol type="1">
<li>[<code>Archive-Sections</code>] &quot;Free Model&quot; + &quot;Type-F reproducibility&quot; can enter the main section. &quot;Free Model&quot; without &quot;Type-F reproducibility&quot; is highly questionable and cannot enter the main section. &quot;ToxicCandy Model&quot; and &quot;NonFree Model&quot; should enter the non-free section if they have to enter our archive.</li>
<li>[<code>Dependency</code>] A package that includes a pre-trained machine learning model, must also include the corresponding training program, or <code>Suggests:</code> the package that provides the corresponding training program.</li>
<li>[<code>Whitelist</code>] &quot;ToxicCandy&quot; models in the whitelist, such as some of those used in input methods can enter the main section. Modification of the whitelist should be publicly discussed.</li>
<li>[<code>Tainting-Combination</code>] When Human-Readable Sources or Serialized Models from different sources are used in conjunction, non-free components taint the combination as a whole. For example, the combination of &quot;Free&quot; and &quot;ToxicCandy&quot; is &quot;ToxicCandy&quot;; and the combination of &quot;Free&quot; &amp; &quot;NonFree&quot; is &quot;NonFree&quot;.</li>
<li>[<code>Reproduce-Rules</code>] The maintainer is suggested to maintain a <code>reproduce-model</code> target in <code>debian/rules</code> for reproducing the pre-trained model, even if actually reproducing the model has a cost.</li>
<li>[<code>Tainting-Pipeline</code>] In a pipeline of training (creating) model or producing artifacts with models, nonfree-ness of any involved Human-Readable Source taints the freeness of Serialized Model; Nonfree-ness of any Serialized Model and input data (if any) taints the freeness of Generated Artifacts;</li>
<li>[<code>External-Data</code>] <em>Free Models</em> trained using large datasets (e.g. Wikipedia dump) can be uploaded to the archive without uploading the training data first, as long as the following conditions are satisfied: (1) it is commonly believed that uploading this large dataset to our archive may be problematic;
<ol start="2" type="1">
<li>the dataset is always publicly and anonymously available through network;</li>
</ol>
(3) the package maintainer should maintain a <code>get-external-data</code> target in <code>debian/rules</code>. Besides, when using external data (data outside of our archive), the strength of <code>Reproduce-Rules</code> policy term should be changed from &quot;suggested&quot; to &quot;highly reocmmended&quot;.</li>
</ol>
<h3 id="toxiccandy-whitelist">ToxicCandy Whitelist</h3>
<ol type="1">
<li>Models used in traditional input methods. (Excluding RNN models, e.g. LSTM)</li>
</ol>
<h2 id="acknowledgements">Acknowledgements</h2>
<p>Many thanks to people who provided feedbacks when drafting this document.</p>
<h2 id="references">References</h2>
<ol type="1">
<li>What is free software? <a href="https://www.gnu.org/philosophy/free-sw.html" class="uri">https://www.gnu.org/philosophy/free-sw.html</a></li>
</ol>
